 *,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.3px;
}

body{
  background: #738ed1;
  font-family: "Helvetica", sans-serif;
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(5, 36, 64);
  padding: 5px 0px;
} 

h1{
  color:rgb(206, 206, 234);
  font-weight: 900;
}

header p{
  letter-spacing: 0.105em;
  font-size: 0.9em;
  color:antiquewhite;
} 

.btn{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button{
  width: 100px;
  padding: 5px;
  background-color: rgb(206, 206, 234);
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  border: 0px;
  margin: 10px 10px;
  color: rgb(5, 36, 64);
}

/* button:hover{

} */

div#placeHolder{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
} 

.card{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* #738ed1; */
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  min-height: 350px;
  border-radius: 1rem;
  margin: 1.5rem;
  transition: 0.3s;
}

h3{
   color: rgb(5, 36, 64); 
}

.personInfo *{
  margin: 0.8rem;
}

img{
  max-height: 350px;
  max-width: 250px;
}

.birth_year, .gender{
  font-weight: 400;
  color: rgb(68, 64, 64);
}

.gender{
  font-size: large;
}

p.showMe{
  display: none;
}

/* img {
  display: none;
} */

p.foot{
  display: flex;
  background-color: rgb(5, 36, 64);
  height: 25px;
  color:rgb(206, 206, 234);
  justify-content: center;
  align-items: center;
}

/* the codes here controls all the hover effect */

.card:hover {
  transform: scale(1.1);
  /* background-color: white; */
}

div.personInfo:hover p.showMe{
  display: block;
  /* color: rgba(145, 143, 143, 0.969); */
  /* color: rgb(206, 206, 234); */
}

/* div.card:hover img{
  display: block;
} */

 h3:hover{
  text-shadow: 2px 2px 3px #738ed1, 0px 0px 10px #738ed1;
}

@media screen and(min-width: 480px){
  p.foot{
    font-size: 10px;
  }
}
  

